<tr class="row">
    <th class="col-3 text-right">
        タグ
    </th>
    <td class="col-9">
        <%= text_field_tag :tag_name, tag_name, size: "50x20" %><br>
        ※「,」区切りで入力してください。
    </td>
</tr>