<div class="container">
    <h2>投稿編集</h2>
    <div class="row mt-5 d-flex justify-content-center">
        <% if @post.errors.any? %>
            <%= @post.errors.count %>件のエラーが発生しました
            <ul>
                <% @post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
        
        <%= render "new_edit", post: @post, tag_name: @tag_name %>
    </div>
</div>