<% if @model == "user" %>
    <h3>Users search for "<%= @content %>"</h3>
    <%= render "public/users/index", users: @records %>
<% else %>
    <h3>Posts search for "<%= @content %>"</h3>
    <% @records.each do |post| %>
        <%= render "public/posts/index", post: post %>
    <% end %>
<% end %>
