<h1>About</h1>
<p>
    コミュニティサイト「あにも」は、面白い動物の行動を写真・動画で投稿し、皆で笑いあうサイトです。<br>
    自分のペットだけではなく、動物園の動物達や野良猫などを投稿して、<br>
    どこで会える動物か位置情報を載せたりすることもできます。<br>
    タグ・キーワード検索ができるので見たい子をすぐに見ることができます。<br>
    このサイトが、笑顔の守護者達で溢れますように。
</p>