<div class="container">
    <div class="row">
        <h1 class="col-12 text-center">About</h1>
        <%= image_tag "uma.jpg", class: "mt-3", width: 1200, height: 600, style: "object-fit: cover; object-position: center center;" %>
        <div class="position-absolute top-70 start-50 translate-middle" style="margin-top: 150px; margin-left: 90px;">
            <p class="col h5 text-success font-weight-bold text-center">
                コミュニティサイト「あにも」は、面白い動物の行動を写真・動画で投稿し、皆で笑いあうサイトです。<br>
                自分のペットだけではなく、動物園の動物達や野良猫などを投稿して、<br>
                どこで会える動物か位置情報を載せたりすることもできます。<br>
                タグ・キーワード検索ができるので見たい子をすぐに見ることができます。<br>
                このサイトが、笑顔の守護者達で溢れますように。
            </p>
        </div>
    </div>
</div>
