<% if @model == "user" %>
    <h3>Users search for "<%= @content %>"</h3>
    <%= render "admin/users/index", users: @records %>
<% else %>
    <h3>Posts search for "<%= @content %>"</h3>
    <%= render "public/posts/index", post: @records %>
<% end %>
