<div class="container-fluid">
    <% if @model == "user" %>
        <h3>ユーザー検索結果 "<%= @content %>"</h3>
        <div class="row mb-1">
            <%= render "admin/users/index", users: @records %>
        </div>
    <% else %>
        <h3>投稿検索結果 "<%= @content %>"</h3>
        <div class="row mb-1">
            <% @records.each do |post| %>
                <% if post.is_display === "published" %>
                    <%= render "public/posts/index", post: post %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>