<div class="container">
    <h2>会員一覧</h2>
    <div class="row">
        <div class="col">
            <% @users.each do |user| %>
                <div class="row">
                    <div class="col-2 mb-2">
                        <%= image_tag user.get_profile_image(40,40), class: "rounded-circle" %>
                        <%= link_to user.name, user_path(user), class: "text-dark align-middle" %>
                    </div>
                    
                    <div class="col">
                        <% unless user == current_user %>
                            <% if user.following?(current_user, user.id).nil? %>
                                <%= link_to 'フォロー', follows_path(follow_id: user.id), method: :post, class: "btn btn-outline-dark" %>
                            <% else %>
                                <%= link_to 'フォロー解除', follow_path(user.id), method: :delete, class: "btn btn-dark" %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
