<h2><%= @user.name %>のフォローとフォロワー一覧</h2>

<h3>フォロー --></h3>
<% @follows.each do |follower| %>
    <div>
        <%= link_to follower.user.name, user_path(follower.user) %>
    </div>
<% end %>

<h3>フォロワー --></h3>
<% @followers.each do |follower| %>
    <divd>
        <%= link_to follower.user.name, user_path(follower.user) %>
    </divd>
<% end %>