<table class="table table-bordered">
    <tr>
        <th class="col-1 text-center">会員ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
    </tr>
    <% users.each do |user| %>
        <tr>
            <td class="text-center"><%= user.id %></td>
            <td>
                <%= link_to user.name, admin_user_path(user), class: "text-dark font-weight-bold" %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.status_label %></td>
        </tr>
    <% end %>
</table>