<table>
    <tr>
        <td>会員ID</td>
        <td>名前</td>
    </tr>
    <% users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
        </tr>
    <% end %>
</table>