<table>
    <tr>
        <td></td>
        <td>名前</td>
    </tr>
    <% users.each do |user| %>
        <tr>
            <td></td>
            <td><%= link_to user.name, user_path(user) %></td>
        </tr>
    <% end %>
</table>