<div class="container-fluid">
    <h2>笑った一覧</h2>
    <div class="row">
        <% @laughed_posts.each do |post| %>
            <%= render "public/posts/index", post: post %>
        <% end %>
    </div>
</div>
<div class="d-flex justify-content-center">
    <%= paginate @laughed_posts %>
</div>